In [2]:
import yfinance as yf
import pandas as pd
import math
from tqdm import tqdm as tqdm
import pickle
import numpy as np
import random
from multiprocessing import Process, Pool

pd.options.mode.chained_assignment = None  # default='warn'

DOWNLOAD = True

In [3]:
tickers = ['TSLA',
           'AAPL',
           'MSFT',
           'U',
           'CCL',
           'TD',
           'SPY',
           'FB',
           'V',
           'DIS',
           'CNR',
           'HD',
           'UNH',
           'MCD',
           'MMM',
           'ATVI',
           'ADBE',
           'AMD',
           'GOOG',
           'AMZN',
           'AXP',
           'BAC',
           'BA',
           'CVX',
           'C',
           'KO',
           'DOW',
           'GM',
           'GILD',
           'INTC',
           'MA',
           'NVDA',
           'TXN',
           'XRX',
           'RY.TO',
           'CP.TO',
           'TRI.TO',
           'ATD-B.TO',
           'L.TO',
           'DOL.TO',
           'BB.TO',
           'DOO.TO',
           'WEED.TO',
           'SNC.TO',
           'SHOP',
           'SU.TO',
           'CM.TO',
           'TD.TO',
           'ENB.TO',
           'APHA.TO',
           'XIU.TO', # s&p/tsx composite 60
           'AC.TO']

In [4]:
raws = {}

for ticker in tqdm(tickers):
    t = yf.Ticker(ticker)
    t_data = t.history(period = '10y', interval = '1d')
    
    raws[ticker] = t_data

100%|██████████| 52/52 [00:17<00:00,  3.04it/s]

In [5]:
col_d = {} # dropped columns

for ticker in tqdm(tickers):
    raw = raws[ticker]
    
    col_d[ticker] = raw.drop(columns=['Dividends', 'Stock Splits'])
    
col_d['TSLA'].head()

100%|██████████| 52/52 [00:00<00:00, 859.97it/s]

             Open   High    Low  Close   Volume
Date
2011-01-28  4.976  4.976  4.750  4.802  5242000
2011-01-31  4.810  4.824  4.700  4.820  4151500
2011-02-01  4.862  4.946  4.708  4.782  3539000
2011-02-02  4.832  4.836  4.734  4.788  2847500
2011-02-03  4.764  4.780  4.630  4.726  2560000

In [10]:
list(col_d.values())

[                  Open        High         Low       Close    Volume
 Date
 2011-01-28    4.976000    4.976000    4.750000    4.802000   5242000
 2011-01-31    4.810000    4.824000    4.700000    4.820000   4151500
 2011-02-01    4.862000    4.946000    4.708000    4.782000   3539000
 2011-02-02    4.832000    4.836000    4.734000    4.788000   2847500
 2011-02-03    4.764000    4.780000    4.630000    4.726000   2560000
 ...                ...         ...         ...         ...       ...
 2021-01-22  834.309998  848.000000  828.619995  846.640015  20066500
 2021-01-25  855.000000  900.400024  838.820007  880.799988  41173400
 2021-01-26  891.380005  895.900024  871.599976  883.090027  23131600
 2021-01-27  870.349976  891.500000  858.659973  864.159973  26782300
 2021-01-28  820.000000  847.996582  801.000000  839.969971  18734504

 [2517 rows x 5 columns],
                   Open        High         Low       Close     Volume
 Date
 2011-01-28   10.603520   10.610606   10.275713   10.354892  592057200
 2011-01-31   10.345648   10.476279   10.299435   10.454096  377246800
 2011-02-01   10.515098   10.649117   10.505240   10.630016  426633200
 2011-02-02   10.612146   10.636794   10.584418   10.608141  258955200
 2011-02-03   10.592122   10.605679   10.430375   10.581032  393797600
 ...                ...         ...         ...         ...        ...
 2021-01-22  136.279999  139.850006  135.020004  139.070007  114459400
 2021-01-25  143.070007  145.089996  136.539993  142.919998  157611700
 2021-01-26  143.600006  144.300003  141.369995  143.160004   98390600
 2021-01-27  143.429993  144.300003  140.410004  142.059998  139236700
 2021-01-28  139.520004  141.990005  138.000000  141.080002   77291984

 [2517 rows x 5 columns],
                   Open        High         Low       Close     Volume
 Date
 2011-01-28   22.977521   23.001373   21.824670   22.063190  141249400
 2011-01-31   22.079089   22.182447   21.800814   22.047285   65029000
 2011-02-01   22.102944   22.309662   21.951881   22.254007   62810700
 2011-02-02   22.206300   22.349412   22.166545   22.214251   45824000
 2011-02-03   22.238105   22.238105   21.896226   21.983683   60340100
 ...                ...         ...         ...         ...        ...
 2021-01-22  227.080002  230.070007  225.800003  225.949997   30172700
 2021-01-25  229.119995  229.779999  224.220001  229.529999   33152100
 2021-01-26  231.860001  234.179993  230.080002  232.330002   49169600
 2021-01-27  238.000000  240.440002  230.139999  232.899994   69757500
 2021-01-28  235.610001  242.169998  235.089996  242.130005   25453425

 [2517 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2020-09-18   75.000000   76.790001   67.000000   68.349998  20621000
 2020-09-21   67.110001   73.980003   65.110001   72.959999   5055200
 2020-09-22   76.639999   84.980003   75.110001   84.820000   6893700
 2020-09-23   88.669998   88.879997   79.900002   81.849998   4343900
 2020-09-24   77.750000   83.889999   75.699997   83.199997   2487200
 ...                ...         ...         ...         ...       ...
 2021-01-22  145.389999  156.162003  145.270004  154.029999   2012300
 2021-01-25  158.009995  167.320007  150.449997  151.529999   3554900
 2021-01-26  152.699997  155.830002  148.104004  149.449997   1113000
 2021-01-27  146.479996  164.399994  140.949997  155.860001   3611300
 2021-01-28  154.570007  158.550003  150.229996  152.839996    666825

 [91 rows x 5 columns],
                  Open       High        Low      Close    Volume
 Date
 2011-01-28  34.367189  34.928500  33.304442  33.386768   3830500
 2011-01-31  33.499025  33.895687  33.401733  33.461605   4414700
 2011-02-01  33.753479  34.329759  33.439147  34.247433   3980800
 2011-02-02  33.828338  34.337260  33.671172  34.202545   2455600
 2011-02-03  34.142664  34.307316  33.858268  34.090275   2846600
 ...               ...        ...        ...        ...       ...
 2021-01-22  20.309999  20.430000  20.040001  20.219999  24748800
 2021-01-25  19.799999  19.809999  18.730000  19.219999  55839500
 2021-01-26  19.400000  19.510000  18.620001  18.719999  44110700
 2021-01-27  18.410000  19.420000  17.959999  18.980000  50511400
 2021-01-28  20.100000  20.665001  19.655001  19.820101  43529272

 [2517 rows x 5 columns],
                  Open       High        Low      Close   Volume
 Date
 2011-01-28  25.537700  25.571408  25.072519  25.086002  1479800
 2011-01-31  25.220840  25.460172  25.180389  25.244436  1340800
 2011-02-01  25.450050  25.895004  25.409599  25.864668  1083000
 2011-02-02  25.854554  26.100628  25.827589  25.986017   926400
 2011-02-03  25.979286  26.451208  25.975914  26.377048  1165200
 ...               ...        ...        ...        ...      ...
 2021-01-22  58.310001  58.509998  57.790001  57.799999  1068500
 2021-01-25  57.410000  57.799999  57.200001  57.660000  1078600
 2021-01-26  58.029999  58.230000  57.680000  58.110001   985600
 2021-01-27  57.299999  57.330002  56.799999  56.990002  1839100
 2021-01-28  57.049999  57.755001  56.660000  57.681099   656369

 [2517 rows x 5 columns],
                   Open        High         Low       Close     Volume
 Date
 2011-01-28  106.651557  106.823661  104.496238  104.668335  295637300
 2011-01-31  104.955186  105.537035  104.692936  105.455078  149249200
 2011-02-01  106.094273  107.331734  106.028710  107.143250  167194300
 2011-02-02  106.864657  107.225246  106.807298  106.938423  118323600
 2011-02-03  106.749920  107.339972  106.184466  107.176071  145886700
 ...                ...         ...         ...         ...        ...
 2021-01-22  382.250000  384.130005  381.839996  382.880005   52860500
 2021-01-25  383.670013  384.769989  378.459991  384.390015   70402000
 2021-01-26  385.410004  385.850006  383.540009  383.790009   42665300
 2021-01-27  380.220001  380.320007  372.010010  374.410004  122799300
 2021-01-28  376.359985  381.750000  375.920013  381.540009   45989882

 [2517 rows x 5 columns],
                   Open        High         Low       Close     Volume
 Date
 2012-05-18   42.049999   45.000000   38.000000   38.230000  573576400
 2012-05-21   36.529999   36.660000   33.000000   34.029999  168192700
 2012-05-22   32.610001   33.590000   30.940001   31.000000  101786600
 2012-05-23   31.370001   32.500000   31.360001   32.000000   73600000
 2012-05-24   32.950001   33.209999   31.770000   33.029999   50237200
 ...                ...         ...         ...         ...        ...
 2021-01-22  272.010010  278.470001  272.000000  274.500000   21954000
 2021-01-25  278.140015  280.100006  271.510010  278.010010   19087000
 2021-01-26  278.140015  285.390015  277.809998  282.049988   19373600
 2021-01-27  282.529999  283.450012  268.119995  272.140015   35033100
 2021-01-28  277.179993  286.790009  269.794312  273.994995   21971337

 [2188 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2011-01-28   16.438935   16.469119   16.118514   16.127802  25048400
 2011-01-31   16.229961   16.336768   16.102257   16.218351  24602800
 2011-02-01   16.301942   16.654870   16.301942   16.415714  25448800
 2011-02-02   16.501618   16.738449   16.427318   16.738449  27162400
 2011-02-03   16.654875   16.829016   16.485377   16.631655  33462800
 ...                ...         ...         ...         ...       ...
 2021-01-22  203.990005  205.330002  201.800003  202.020004   7316200
 2021-01-25  200.339996  201.639999  195.750000  200.979996  19282400
 2021-01-26  201.759995  203.490005  200.970001  202.009995   9605300
 2021-01-27  197.639999  199.699997  193.960007  194.970001  13767200
 2021-01-28  200.000000  202.000000  198.649994  199.380005   5691771

 [2517 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2011-01-28   34.658723   35.037362   34.033528   34.209637   8399900
 2011-01-31   34.376938   34.561854   34.033521   34.227242   8206400
 2011-02-01   34.376951   35.178258   34.376951   35.116619   9283000
 2011-02-02   35.046161   35.847468   35.046161   35.653748  15357000
 2011-02-03   35.574501   35.882695   35.468832   35.662556   9513800
 ...                ...         ...         ...         ...       ...
 2021-01-22  174.000000  175.250000  171.889999  172.779999   9517200
 2021-01-25  171.889999  173.110001  168.770004  171.889999   7833700
 2021-01-26  173.000000  173.350006  169.050003  169.559998   7523200
 2021-01-27  165.009995  166.339996  160.520004  163.029999  18221700
 2021-01-28  166.169998  172.009995  166.089996  171.699997   7247987

 [2517 rows x 5 columns],
              Open   High    Low  Close  Volume
 Date
 2011-01-28  13.22  13.50  12.73  12.90  252900
 2011-01-31  12.96  13.31  12.85  13.27  294100
 2011-02-01  13.37  13.97  13.29  13.89  498300
 2011-02-02  13.87  13.91  13.59  13.62  195800
 2011-02-03  13.63  13.63  13.00  13.44  215400
 ...           ...    ...    ...    ...     ...
 2021-01-22  12.66  12.97  12.20  12.49  624800
 2021-01-25  12.33  12.77  11.90  12.60  569900
 2021-01-26  12.72  12.79  11.93  11.98  494600
 2021-01-27  11.57  11.98  11.08  11.37  625500
 2021-01-28  11.58  11.92  11.37  11.77  135864

 [2517 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2011-01-28   30.123693   30.179345   29.121957   29.177608  12588000
 2011-01-31   29.519465   29.559216   29.058346   29.233253  11189800
 2011-02-01   29.368407   29.519465   29.018595   29.408161   9623200
 2011-02-02   29.185558   29.384315   28.923199   29.066305   7782400
 2011-02-03   29.082206   29.455868   28.994752   29.177608   5664700
 ...                ...         ...         ...         ...       ...
 2021-01-22  279.260010  285.079987  277.869995  284.000000   4501900
 2021-01-25  283.850006  285.769989  281.420013  285.079987   4025900
 2021-01-26  285.420013  285.649994  281.700012  282.600006   2472200
 2021-01-27  279.989990  280.809998  273.079987  274.049988   4335700
 2021-01-28  276.170013  282.850006  274.929993  281.714996   1522928

 [2517 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2011-01-28   36.086178   36.197053   34.849473   34.909176   7767400
 2011-01-31   34.985934   35.241804   34.721534   35.011520   7320400
 2011-02-01   35.275923   35.975301   35.216221   35.881481   9074600
 2011-02-02   35.600032   36.043537   35.540326   35.779140   4285800
 2011-02-03   35.634150   37.604349   34.883600   36.708805  14831200
 ...                ...         ...         ...         ...       ...
 2021-01-22  353.309998  354.619995  347.540009  347.549988   2585100
 2021-01-25  347.149994  350.390015  344.600006  347.809998   2506300
 2021-01-26  350.510010  351.510010  342.570007  343.109985   2467500
 2021-01-27  337.040009  338.000000  329.010010  332.989990   4770100
 2021-01-28  336.640015  346.549988  334.510010  343.003387   1032260

 [2517 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2011-01-28   55.133899   55.400784   54.155322   54.325829   9083500
 2011-01-31   54.711334   54.844777   54.377725   54.614956   6372400
 2011-02-01   55.022711   55.052366   54.266535   54.466702   8468900
 2011-02-02   54.481521   54.681687   54.177572   54.592724   5841900
 2011-02-03   54.740987   55.059766   54.718748   54.733578  11126100
 ...                ...         ...         ...         ...       ...
 2021-01-22  212.509995  214.139999  211.169998  213.380005   2196400
 2021-01-25  212.220001  214.050003  210.559998  213.339996   2615300
 2021-01-26  212.509995  215.509995  212.169998  215.380005   2907800
 2021-01-27  212.389999  213.149994  207.000000  207.000000   5460900
 2021-01-28  208.630005  210.360001  205.169998  206.866302   2355622

 [2517 rows x 5 columns],
                   Open        High         Low       Close   Volume
 Date
 2011-01-28   68.271966   68.470455   66.607727   66.752777  4927600
 2011-01-31   67.126830   67.325319   66.653512   67.119194  4116500
 2011-02-01   67.195525   67.409285   66.752750   67.019943  3995200
 2011-02-02   66.936010   67.523835   66.936010   66.989449  2892600
 2011-02-03   67.042871   67.386404   66.836752   67.142113  1982200
 ...                ...         ...         ...         ...      ...
 2021-01-22  170.199997  170.199997  167.240005  169.039993  2349300
 2021-01-25  168.880005  172.490005  168.229996  170.389999  3353100
 2021-01-26  173.779999  176.839996  172.080002  175.949997  5148900
 2021-01-27  177.309998  187.270004  177.160004  186.649994  8095600
 2021-01-28  185.000000  186.529999  182.580002  184.164993  2028682

 [2517 rows x 5 columns],
                  Open       High        Low      Close    Volume
 Date
 2011-01-28  10.173875  10.373719  10.064869  10.182959   8191000
 2011-01-31  10.173877  10.355553  10.173877  10.255631   9243000
 2011-02-01  10.255631  10.655319  10.255631  10.582648  14879700
 2011-02-02  10.528145  10.746156  10.355552  10.618982  12264800
 2011-02-03  10.591731  10.655317  10.373719  10.573564  15146000
 ...               ...        ...        ...        ...       ...
 2021-01-22  94.680000  95.230003  93.820000  94.430000   3755100
 2021-01-25  95.529999  95.760002  92.739998  93.400002   5373500
 2021-01-26  93.349998  93.680000  92.139999  92.379997   6424300
 2021-01-27  91.000000  91.000000  88.209999  88.669998  12150000
 2021-01-28  89.570000  91.419998  89.050003  91.040001   2791363

 [2517 rows x 5 columns],
                   Open        High         Low       Close   Volume
 Date
 2011-01-28   33.930000   33.990002   32.340000   32.490002  6506700
 2011-01-31   32.599998   33.130001   32.570000   33.049999  5390600
 2011-02-01   33.250000   33.860001   33.220001   33.509998  4738000
 2011-02-02   33.290001   33.990002   33.290001   33.430000  3046100
 2011-02-03   33.270000   33.599998   32.980000   33.529999  3043800
 ...                ...         ...         ...         ...      ...
 2021-01-22  472.500000  476.350006  470.609985  472.440002  2534300
 2021-01-25  474.510010  477.700012  463.980011  473.440002  2697400
 2021-01-26  473.730011  477.220001  467.760010  476.279999  2363100
 2021-01-27  470.989990  473.670013  455.070007  460.000000  3582300
 2021-01-28  459.070007  473.000000  460.000000  472.950012  1498332

 [2517 rows x 5 columns],
                  Open       High        Low      Close    Volume
 Date
 2011-01-28   7.760000   7.830000   7.400000   7.490000  33405600
 2011-01-31   7.550000   8.040000   7.500000   7.830000  42749900
 2011-02-01   8.100000   8.250000   8.060000   8.220000  40250200
 2011-02-02   8.160000   8.600000   8.160000   8.290000  36239600
 2011-02-03   8.360000   8.430000   8.100000   8.330000  22946500
 ...               ...        ...        ...        ...       ...
 2021-01-22  94.419998  95.949997  91.879997  92.790001  71294700
 2021-01-25  94.139999  95.739998  91.400002  94.129997  55086900
 2021-01-26  94.910004  95.720001  93.629997  94.709999  59449100
 2021-01-27  91.099998  91.879997  86.220001  88.839996  73153700
 2021-01-28  89.830002  89.875198  87.300003  88.150002  25195815

 [2517 rows x 5 columns],
                    Open         High          Low        Close   Volume
 Date
 2011-01-28   308.379120   309.021698   298.760162   299.372864  8493800
 2011-01-31   300.673004   301.106384   296.663025   299.059052  5630800
 2011-02-01   301.116333   305.529785   300.428925   304.379120  5511000
 2011-02-02   304.359192   306.022949   302.630676   304.857330  3534500
 2011-02-03   303.602020   304.583344   301.933289   303.935760  3001300
 ...                 ...          ...          ...          ...      ...
 2021-01-22  1895.680054  1910.949951  1881.760010  1901.050049  1272100
 2021-01-25  1920.670044  1929.579956  1867.530029  1899.400024  1927300
 2021-01-26  1888.839966  1925.000000  1884.244995  1917.239990  1313100
 2021-01-27  1882.530029  1890.000000  1809.000000  1830.790039  2744400
 2021-01-28  1843.939941  1884.329956  1842.640015  1881.099976   805531

 [2517 rows x 5 columns],
                    Open         High          Low        Close    Volume
 Date
 2011-01-28   171.449997   173.710007   166.899994   171.139999  19908200
 2011-01-31   170.160004   171.440002   167.410004   169.639999   6718100
 2011-02-01   170.520004   173.100006   169.509995   172.110001   5085900
 2011-02-02   171.419998   175.199997   170.869995   173.529999   4547500
 2011-02-03   173.500000   174.669998   171.949997   173.710007   3678900
 ...                 ...          ...          ...          ...       ...
 2021-01-22  3304.310059  3321.909912  3283.159912  3292.229980   2821900
 2021-01-25  3328.500000  3363.889893  3243.149902  3294.000000   3749800
 2021-01-26  3296.360107  3338.000000  3282.870117  3326.129883   2955200
 2021-01-27  3341.489990  3346.520020  3207.080078  3232.580078   4643000
 2021-01-28  3235.040039  3285.229980  3228.689941  3283.770996   1580779

 [2517 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2011-01-28   38.406554   38.449659   37.432380   37.811707   9940200
 2011-01-31   38.044490   38.130699   37.311703   37.397915   9931600
 2011-02-01   37.535854   37.828968   37.268602   37.587578  11408800
 2011-02-02   37.406538   37.975524   37.354814   37.691032   6849000
 2011-02-03   37.630688   37.708277   37.199637   37.527233   5189000
 ...                ...         ...         ...         ...       ...
 2021-01-22  125.739998  127.059998  124.879997  126.139999   2954800
 2021-01-25  124.239998  125.000000  120.320000  121.150002   6156700
 2021-01-26  118.750000  120.290001  115.720001  116.150002   8932500
 2021-01-27  114.860001  116.800003  112.099998  114.089996   5815300
 2021-01-28  117.430000  120.379898  116.599998  120.080002   2847256

 [2517 rows x 5 columns],
                  Open       High        Low      Close     Volume
 Date
 2011-01-28  12.139543  12.341430  11.920101  11.937656  226452500
 2011-01-31  12.034215  12.104437  11.972772  12.051770  118000800
 2011-02-01  12.200989  12.613541  12.174656  12.560875  211978400
 2011-02-02  12.578433  12.595989  12.402879  12.499434  140312700
 2011-02-03  12.429210  12.701319  12.420432  12.666208  145885300
 ...               ...        ...        ...        ...        ...
 2021-01-22  31.360001  31.750000  31.250000  31.549999   45314500
 2021-01-25  31.270000  31.299999  30.570000  31.160000   48078400
 2021-01-26  31.400000  31.430000  30.910000  30.940001   36373000
 2021-01-27  30.309999  30.430000  29.670000  29.830000   63720000
 2021-01-28  30.420000  30.580000  29.917400  30.510099   24779479

 [2517 rows x 5 columns],
                   Open        High         Low       Close    Volume
 Date
 2011-01-28   56.115388   56.234271   54.688723   54.871021   5376400
 2011-01-31   54.894793   55.449604   54.783831   55.069164   4559800
 2011-02-01   55.481337   55.877633   55.164300   55.711189   4780400
 2011-02-02   55.346566   56.424489   55.322790   56.273895   4249100
 2011-02-03   56.273902   56.575084   55.972720   56.258053   5092000
 ...                ...         ...         ...         ...       ...
 2021-01-22  205.550003  206.699997  204.270004  205.839996   7514600
 2021-01-25  203.270004  203.800003  199.300003  203.360001  14276200
 2021-01-26  205.339996  208.350006  201.789993  202.059998  11011800
 2021-01-27  196.899994  199.470001  191.850006  194.029999  20891200
 2021-01-28  198.044998  200.419998  196.000000  199.169998   6564629

 [2517 rows x 5 columns],
                  Open       High        Low      Close    Volume
 Date
 2011-01-28  63.892534  64.135960  62.837690  63.135212  12444700
 2011-01-31  63.459792  64.365880  63.135227  64.190071  11167900
 2011-02-01  64.663381  65.244899  64.352338  65.062332   9948200

In [ ]:

#serializing for future use

with open('./data/std-stocks.pkl', 'wb') as f:
    pickle.dump(good, f, protocol=pickle.HIGHEST_PROTOCOL)

## Variables
- Open (n)
- High (n)
- Low (n)
- Close (n)
- Volume (n)
- Day of Week (ex. weekends)

In [ ]:
with open('./data/train-sequences.pkl', 'wb') as f:
    pickle.dump(train_seq, f, protocol=pickle.HIGHEST_PROTOCOL)
    
with open('./data/test-sequences.pkl', 'wb') as f:
    pickle.dump(val_seq, f, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:
print(len(train_seq['APHA.TO']))
print(len(val_seq['APHA.TO']))

## New Normalization Approach

Using built in pandas methods to use z scoring to make it completely error proof (at least not caused by me)

Will build sequences of size 11, then z-score, set the closing of last row as the future price, and drop the last row.

In [12]:
# df is dataframe of 10 rows, future is a future value
def z_score(df, f1, f2, f3):
    # DAY OF WEEK ALSO GETS STANDARDIZED
    df['DayOfWeek']=[i.dayofweek for i in df.index]
    
    for column in df.columns:
        std = df[column].std()
        mean = df[column].mean()
        
        # if all values are the same, then std=0, so dividing by std would make a NaN
        df[column] = (df[column] - mean) / std if std != 0 else 0
        
        # future value is excluded from std and mean calculations
        if column == 'Close':
            f1 = (f1-mean)/std if std != 0 else 0
            f2 = (f2-mean)/std if std != 0 else 0
            f3 = (f3-mean)/std if std != 0 else 0
    
    
   
    nan_flag = df.isnull().values.any()
    
    
    # return first 10 rows of df, excluding the future row, also nan flag
    return df.values, f1, f2, f3, nan_flag
    

#all_seq = {}

a1 = []
a2 = []
a3 = []

def sequencify(df):
    s1,s2,s3=[],[],[]
    
    for i in range(len(df.index)-13):
        sequence, f1, f2, f3, nan_flag = z_score(df.iloc[i:i+10], df['Close'].iloc[i+10], df['Close'].iloc[i+11], df['Close'].iloc[i+12])
        
        if(nan_flag):
            pass
        else:
            s1.append([sequence, f1])
            s2.append([sequence, f2])
            s3.append([sequence, f3])
    
    return [s1,s2,s3]

with Pool(8) as pool:
    results = pool.imap_unordered(sequencify, list(col_d.values()))
    
    for res in results:
        a1.append(res[0])
        a2.append(res[1])
        a3.append(res[2])

Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence
Found a NaN! Dropping sequence

In [14]:
train1, test1 = [], []
train2, test2 = [], []
train3, test3 = [], []

#test : train
RATIO = 0.05 


# iterating by histories of each ticker
for hist in a1:
    split = math.floor(len(hist) * RATIO)
    train1.extend(hist[:-split])
    test1.extend(hist[-split:])

for hist in a2:
    split = math.floor(len(hist) * RATIO)
    train2.extend(hist[:-split])
    test2.extend(hist[-split:])

for hist in a3:
    split = math.floor(len(hist) * RATIO)
    train3.extend(hist[:-split])
    test3.extend(hist[-split:])

    
random.shuffle(train1)
random.shuffle(train2)
random.shuffle(train3)

random.shuffle(test1)
random.shuffle(test2)
random.shuffle(test3)

In [15]:

with open('./data/train1.pkl', 'wb') as f:
    pickle.dump(train1, f, protocol=pickle.HIGHEST_PROTOCOL)
    
with open('./data/test1.pkl', 'wb') as f:
    pickle.dump(test1, f, protocol=pickle.HIGHEST_PROTOCOL)
    
with open('./data/train2.pkl', 'wb') as f:
    pickle.dump(train2, f, protocol=pickle.HIGHEST_PROTOCOL)
    
with open('./data/test2.pkl', 'wb') as f:
    pickle.dump(test2, f, protocol=pickle.HIGHEST_PROTOCOL)
    
with open('./data/train3.pkl', 'wb') as f:
    pickle.dump(train3, f, protocol=pickle.HIGHEST_PROTOCOL)
    
with open('./data/test3.pkl', 'wb') as f:
    pickle.dump(test3, f, protocol=pickle.HIGHEST_PROTOCOL)

In [ ]:


test = []
with open('./data/new-test.pkl', 'rb') as f:
    test = pickle.load(f)
    
train = []
with open('./data/new-train.pkl', 'rb') as f:
    train = pickle.load(f)

In [17]:
for t in test1:
    seq = t[0]
    assert len(seq) == 10
    
    for r in seq:
        assert len(r) == 6
        
assert len(test1) < len(train1)
assert len(test1) == len(test2)
assert len(train1) == len(train2)